<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openWeather</key>
	<string>a38ea3546e539b57468b3e6e31513ebc</string>
	<key>google</key>
	<string>AIzaSyAi6fT5IQzxHulPbYgymtY3azPw0TaSvGo</string>
	<key>fixer</key>
	<string>7eee4c2071c648fa4467cb659bccf26a</string>
</dict>
</plist>
